<nav class="navbar navbar-light navbar-expand-md py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}" target="_parent">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"></span>
            <span><strong>Giang Son</strong></span></a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'all_posts' %}">All Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About me</a></li>
                {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'schedule' %}">Book a meeting</a></li> {% endcomment %}
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>
