article #content {
    font-size: 18px;
}

article #content blockquote {
    background: #f9f9f9;
      border-left: 0.3rem solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    
    
article #content blockquote p {
    display: inline;
}

div .post_list {
    padding-top: 20px;
    /* padding-left: 42px; */
}

article #content {
    font-size: 18px;
}


#comment_body { 
    background: #f9f9f9;
    border-left: 0.3rem solid #ccc;
    margin: 1.5em;
    padding: 0.5em;
    font-size: 18px;
}