{% extends "blog/base.html" %}

{% block title %} Giang Son's Blog {% endblock title %}

{% block content %}

<div class="container" id="post-list">
    <hr>
    <div class="row">
        <div class="col-xxl-8" style="padding-top: 40px;padding-left: 42px;padding-right: 30px;">
            
            {%include 'blog/post_list.html' %}

            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
    {%endblock%}

