<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog//bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog//css/Hero-Clean-images.css' %}">
    <link rel="stylesheet" href="{% static 'blog//css/Navbar-Right-Links-icons.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">

    {% comment %} for code block styling: {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog//bootstrap/css/prism.css' %} ">
    <script src="{% static 'blog//bootstrap/js/prism.js' %} "></script>
</head>

{% comment %} navebar: {% endcomment %}
{%include 'blog/nav/navbar.html'%}

<body>
    <div class="col-auto mx-auto">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    {% comment %} footer {% endcomment %}
    {% include 'blog/nav/footer.html' %}

    </div>

    {% load static %}
    <script src="{% static 'blog//bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>