

<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
      <div class="row d-flex">
          <div class="col-md-6 col-lg-5 col-xl-12">
              <div>
                  <form  method="post">
                      {% csrf_token %}
                      <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Name" required></div>
                      <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Email" required></div>
                      <div class="mb-3"><textarea class="form-control" id="message-1" name="body" rows="3" placeholder="Message" required></textarea></div>
                      <div><button class="btn btn-outline-secondary d-block w-100" type="submit">Comment</button></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>