{% extends "blog/base.html" %}

{% block title %} Giang Son's Blog {% endblock title %}

{% block content %}
    <div class="container py-4 py-xl-5">
        {% comment %} <div class="row gy-4 gy-md-0" style="padding-top: 0px;"> {% endcomment %}
            {% comment %} <div class="col-md-6"> {% endcomment %}
                {% comment %} {% load static %} {% endcomment %}
                {% comment %} <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" src="{% static 'blog//img/profile-img.jpeg' %}" style="min-height: 300px;"></div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="col-md-6 d-md-flex align-items-md-center"> {% endcomment %}
                {% comment %} <div style="max-width: 350px;"> {% endcomment %}
                <div>
                    <h2 class="text-nowrap fw-bold"> Hello there. </h2>
                    <h3> My name is Son. I'm a data practitioner.</h3>
                    <p>  I write these posts for my selves: past, present, future.</p>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>

    <div class="container">
        <hr>
        <h4>RECENT POSTS</h4>
        <div class="row">
            {% comment %} <div style="padding-top: 40px;padding-left: 42px;"  id="post-list"> {% endcomment %}
            <div class="post-list" id = 'recent_posts'>

            {%include 'blog/post_list.html' %}

            <a class="btn btn-primary btn-lg border rounded-0" role="button" href="{% url 'all_posts' %}"><strong>See All Posts</strong></a>

            </div>
        </div>
{%endblock%}

