{% extends "blog/base.html" %}

{% block title %} Giang Son's Blog {% endblock title %}

{% block content %}
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0" style="padding-top: 0px;">
            <div class="col-md-6">
                {% load static %}
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" src="{% static 'blog//img/profile-img.jpeg' %}" style="min-height: 300px;"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <h2 class="text-nowrap text-uppercase fw-bold">Hello, I'm GIANG SON</h2>
                    <p class="lead text-nowrap my-3">Daytime Data Analyst - Nighttime Storyteller</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="post-list">
        <hr>
        <h4>RECENT POSTS</h4>
        <div class="row">
            <div style="padding-top: 40px;padding-left: 42px;">

            {%include 'blog/post_list.html' %}

            <a class="btn btn-primary btn-lg border rounded-0" role="button" href="{% url 'all_posts' %}"><strong>See All Posts</strong></a>

            </div>
        </div>
{%endblock%}

