{% extends 'blog/base.html' %} 

{% block content %}
    
    {% load static %}
    <header class="masthead" style="background-image:url({% static 'blog/assets/img/post-bg.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>{{ object.title }}</h1>
                        <!--<h2 class="subheading">Problems look mighty small from 150 miles up</h2>  -->
                            <span class="meta">Posted by&nbsp;{{ post.author }} on {{ post.created_on | date:'F d, Y' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    {{ object.content | safe }}
                </div>
            </div>
        </div>
    </article>

{% endblock content %}